@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


:root{
    --success-color:green;
    --error-color:red;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'open sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:white;
    
}
.container{
 background-color: white;
 border-radius: 5px;
 width: 400px;
 padding: 30px 40px;
 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

h2{
    text-align: center;
    margin: 0, 0, 2px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    
    
}

.form-control label{
    display: block;
    padding-bottom: 5px;
    color: rgb(71, 65, 65);
}

.form-control input{
    display: block;
    padding-bottom: 5px;
    border: 1px solid rgb(199, 190, 190);
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.form-control input:focus{
    outline: 0;
    border: 2px solid rgb(199, 190, 190);
}

#submit_btn{
    background-color: #2c56e0;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    padding:10px ;
    font-size: 16px;
    border: none;
}

#submit_btn:hover{
    background-color: blue;
}


.form-control.success input{
    border-color: var(--success-color);

}

.form-control.error input{
    border-color: var(--error-color);
}

.form-control #error{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error #error{
   visibility: visible;
}
a{
    text-decoration: none;
}
 a:hover{
    color: rgb(255, 0, 0);
}