@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 238, 238);
    margin: 0;
    font-family: 'lato',sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 226, 228);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.7);
    
}
.heading{
    padding: 5px 20px;
    font-size: 1.5em;
    color:rgb(92, 76, 76);
}

#count_el{
    color: rgb(0, 110, 255);
    font-size: 5em;
    
}

